// =============================================================================
// Byte Hamr - FPGA Pin Constraints
// Generated: 2025-12-12 20:45:09
// Source: /Users/hackbook/Development/project_byte_hamr/docs/fpga_pinout.json
// =============================================================================

// =============================================================================
// Clock Constraints
// =============================================================================
FREQUENCY PORT "CLK_25MHz" 25 MHz;

// =============================================================================
// FLASH Signals
// =============================================================================

// Flash/Config
// ------------------------------------------------------------
LOCATE COMP "FLASH_nCS" SITE "R2";
IOBUF PORT "FLASH_nCS" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST PULLMODE=UP;
LOCATE COMP "FLASH_SCK" SITE "U3";
IOBUF PORT "FLASH_SCK" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST PULLMODE=UP;
LOCATE COMP "FLASH_MOSI" SITE "W2";
IOBUF PORT "FLASH_MOSI" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST PULLMODE=UP;
LOCATE COMP "FLASH_MISO" SITE "V2";
IOBUF PORT "FLASH_MISO" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST PULLMODE=UP;
LOCATE COMP "FLASH_nWP" SITE "Y2";
IOBUF PORT "FLASH_nWP" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST PULLMODE=UP;
LOCATE COMP "FLASH_nHOLD" SITE "W1";
IOBUF PORT "FLASH_nHOLD" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST PULLMODE=UP;
LOCATE COMP "FPGA_PROGRAMN" SITE "W3";
IOBUF PORT "FPGA_PROGRAMN" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST PULLMODE=UP;
LOCATE COMP "FPGA_INITN" SITE "V3";
IOBUF PORT "FPGA_INITN" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST PULLMODE=UP;
LOCATE COMP "FPGA_DONE" SITE "Y3";
IOBUF PORT "FPGA_DONE" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST PULLMODE=UP;

// =============================================================================
// RAM Signals
// =============================================================================

// SDRAM
// ------------------------------------------------------------
LOCATE COMP "SDRAM_CLK" SITE "M17";
IOBUF PORT "SDRAM_CLK" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST PULLMODE=NONE;
LOCATE COMP "SDRAM_CKE" SITE "M18";
IOBUF PORT "SDRAM_CKE" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST PULLMODE=NONE;
LOCATE COMP "SDRAM_nCS" SITE "D18";
IOBUF PORT "SDRAM_nCS" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST PULLMODE=NONE;
LOCATE COMP "SDRAM_nRAS" SITE "E17";
IOBUF PORT "SDRAM_nRAS" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST PULLMODE=NONE;
LOCATE COMP "SDRAM_nCAS" SITE "E18";
IOBUF PORT "SDRAM_nCAS" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST PULLMODE=NONE;
LOCATE COMP "SDRAM_nWE" SITE "F17";
IOBUF PORT "SDRAM_nWE" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST PULLMODE=NONE;
LOCATE COMP "SDRAM_DQM0" SITE "F18";
IOBUF PORT "SDRAM_DQM0" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST PULLMODE=NONE;
LOCATE COMP "SDRAM_DQM1" SITE "L18";
IOBUF PORT "SDRAM_DQM1" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST PULLMODE=NONE;
LOCATE COMP "SDRAM_BA0" SITE "F19";
IOBUF PORT "SDRAM_BA0" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST PULLMODE=NONE;
LOCATE COMP "SDRAM_BA1" SITE "E20";
IOBUF PORT "SDRAM_BA1" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST PULLMODE=NONE;
LOCATE COMP "SDRAM_A0" SITE "D20";
IOBUF PORT "SDRAM_A0" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST PULLMODE=NONE;
LOCATE COMP "SDRAM_A1" SITE "D19";
IOBUF PORT "SDRAM_A1" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST PULLMODE=NONE;
LOCATE COMP "SDRAM_A2" SITE "C18";
IOBUF PORT "SDRAM_A2" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST PULLMODE=NONE;
LOCATE COMP "SDRAM_A3" SITE "C20";
IOBUF PORT "SDRAM_A3" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST PULLMODE=NONE;
LOCATE COMP "SDRAM_A4" SITE "T20";
IOBUF PORT "SDRAM_A4" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST PULLMODE=NONE;
LOCATE COMP "SDRAM_A5" SITE "U19";
IOBUF PORT "SDRAM_A5" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST PULLMODE=NONE;
LOCATE COMP "SDRAM_A6" SITE "U20";
IOBUF PORT "SDRAM_A6" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST PULLMODE=NONE;
LOCATE COMP "SDRAM_A7" SITE "U18";
IOBUF PORT "SDRAM_A7" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST PULLMODE=NONE;
LOCATE COMP "SDRAM_A8" SITE "T19";
IOBUF PORT "SDRAM_A8" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST PULLMODE=NONE;
LOCATE COMP "SDRAM_A9" SITE "R20";
IOBUF PORT "SDRAM_A9" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST PULLMODE=NONE;
LOCATE COMP "SDRAM_A10" SITE "E19";
IOBUF PORT "SDRAM_A10" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST PULLMODE=NONE;
LOCATE COMP "SDRAM_A11" SITE "P19";
IOBUF PORT "SDRAM_A11" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST PULLMODE=NONE;
LOCATE COMP "SDRAM_A12" SITE "P20";
IOBUF PORT "SDRAM_A12" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST PULLMODE=NONE;
LOCATE COMP "SDRAM_D0" SITE "K19";
IOBUF PORT "SDRAM_D0" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST PULLMODE=NONE;
LOCATE COMP "SDRAM_D1" SITE "J20";
IOBUF PORT "SDRAM_D1" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST PULLMODE=NONE;
LOCATE COMP "SDRAM_D2" SITE "J19";
IOBUF PORT "SDRAM_D2" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST PULLMODE=NONE;
LOCATE COMP "SDRAM_D3" SITE "H20";
IOBUF PORT "SDRAM_D3" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST PULLMODE=NONE;
LOCATE COMP "SDRAM_D4" SITE "G19";
IOBUF PORT "SDRAM_D4" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST PULLMODE=NONE;
LOCATE COMP "SDRAM_D5" SITE "G20";
IOBUF PORT "SDRAM_D5" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST PULLMODE=NONE;
LOCATE COMP "SDRAM_D6" SITE "G18";
IOBUF PORT "SDRAM_D6" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST PULLMODE=NONE;
LOCATE COMP "SDRAM_D7" SITE "F20";
IOBUF PORT "SDRAM_D7" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST PULLMODE=NONE;
LOCATE COMP "SDRAM_D8" SITE "P18";
IOBUF PORT "SDRAM_D8" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST PULLMODE=NONE;
LOCATE COMP "SDRAM_D9" SITE "N20";
IOBUF PORT "SDRAM_D9" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST PULLMODE=NONE;
LOCATE COMP "SDRAM_D10" SITE "N19";
IOBUF PORT "SDRAM_D10" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST PULLMODE=NONE;
LOCATE COMP "SDRAM_D11" SITE "M20";
IOBUF PORT "SDRAM_D11" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST PULLMODE=NONE;
LOCATE COMP "SDRAM_D12" SITE "M19";
IOBUF PORT "SDRAM_D12" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST PULLMODE=NONE;
LOCATE COMP "SDRAM_D13" SITE "L20";
IOBUF PORT "SDRAM_D13" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST PULLMODE=NONE;
LOCATE COMP "SDRAM_D14" SITE "L19";
IOBUF PORT "SDRAM_D14" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST PULLMODE=NONE;
LOCATE COMP "SDRAM_D15" SITE "K20";
IOBUF PORT "SDRAM_D15" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST PULLMODE=NONE;

// =============================================================================
// USB Signals
// =============================================================================

// JTAG
// ------------------------------------------------------------
LOCATE COMP "JTAG_TCK" SITE "T5";
IOBUF PORT "JTAG_TCK" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=SLOW PULLMODE=NONE;
LOCATE COMP "JTAG_TMS" SITE "U5";
IOBUF PORT "JTAG_TMS" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=SLOW PULLMODE=NONE;
LOCATE COMP "JTAG_TDI" SITE "R5";
IOBUF PORT "JTAG_TDI" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=SLOW PULLMODE=NONE;
LOCATE COMP "JTAG_TDO" SITE "V4";
IOBUF PORT "JTAG_TDO" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=SLOW PULLMODE=NONE;

// =============================================================================
// CARD Signals
// =============================================================================

// Apple II Control
// ------------------------------------------------------------
LOCATE COMP "sig_7M" SITE "A9";
IOBUF PORT "sig_7M" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=SLOW PULLMODE=NONE;
LOCATE COMP "Q3" SITE "B10";
IOBUF PORT "Q3" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=SLOW PULLMODE=NONE;
LOCATE COMP "uSync" SITE "B11";
IOBUF PORT "uSync" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=SLOW PULLMODE=NONE;
LOCATE COMP "RDY" SITE "E10";
IOBUF PORT "RDY" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=SLOW PULLMODE=NONE;
LOCATE COMP "nIRQ" SITE "B8";
IOBUF PORT "nIRQ" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=SLOW PULLMODE=NONE;
LOCATE COMP "nNMI" SITE "A7";
IOBUF PORT "nNMI" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=SLOW PULLMODE=NONE;
LOCATE COMP "nRES" SITE "A8";
IOBUF PORT "nRES" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=SLOW PULLMODE=NONE;
LOCATE COMP "DMA_IN" SITE "C6";
IOBUF PORT "DMA_IN" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=SLOW PULLMODE=NONE;
LOCATE COMP "DMA_OUT" SITE "C10";
IOBUF PORT "DMA_OUT" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=SLOW PULLMODE=NONE;
LOCATE COMP "nDMA" SITE "B6";
IOBUF PORT "nDMA" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=SLOW PULLMODE=NONE;
LOCATE COMP "nINH" SITE "B9";
IOBUF PORT "nINH" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=SLOW PULLMODE=NONE;
LOCATE COMP "nDEVICE_SELECT" SITE "D16";
IOBUF PORT "nDEVICE_SELECT" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=SLOW PULLMODE=NONE;
LOCATE COMP "INT_IN" SITE "A6";
IOBUF PORT "INT_IN" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=SLOW PULLMODE=NONE;
LOCATE COMP "INT_OUT" SITE "D9";
IOBUF PORT "INT_OUT" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=SLOW PULLMODE=NONE;
LOCATE COMP "R_nW" SITE "D10";
IOBUF PORT "R_nW" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=SLOW PULLMODE=NONE;

// Apple II Address
// ------------------------------------------------------------
LOCATE COMP "A0" SITE "B19";
IOBUF PORT "A0" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=SLOW PULLMODE=NONE;
LOCATE COMP "A1" SITE "A18";
IOBUF PORT "A1" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=SLOW PULLMODE=NONE;
LOCATE COMP "A2" SITE "B18";
IOBUF PORT "A2" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=SLOW PULLMODE=NONE;
LOCATE COMP "A3" SITE "A17";
IOBUF PORT "A3" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=SLOW PULLMODE=NONE;
LOCATE COMP "A4" SITE "C17";
IOBUF PORT "A4" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=SLOW PULLMODE=NONE;
LOCATE COMP "A5" SITE "A16";
IOBUF PORT "A5" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=SLOW PULLMODE=NONE;
LOCATE COMP "A6" SITE "B16";
IOBUF PORT "A6" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=SLOW PULLMODE=NONE;
LOCATE COMP "A7" SITE "B17";
IOBUF PORT "A7" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=SLOW PULLMODE=NONE;
LOCATE COMP "A8" SITE "C16";
IOBUF PORT "A8" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=SLOW PULLMODE=NONE;
LOCATE COMP "A9" SITE "E15";
IOBUF PORT "A9" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=SLOW PULLMODE=NONE;
LOCATE COMP "A10" SITE "C15";
IOBUF PORT "A10" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=SLOW PULLMODE=NONE;
LOCATE COMP "A11" SITE "D15";
IOBUF PORT "A11" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=SLOW PULLMODE=NONE;
LOCATE COMP "A12" SITE "D14";
IOBUF PORT "A12" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=SLOW PULLMODE=NONE;
LOCATE COMP "A13" SITE "C13";
IOBUF PORT "A13" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=SLOW PULLMODE=NONE;
LOCATE COMP "A14" SITE "D11";
IOBUF PORT "A14" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=SLOW PULLMODE=NONE;
LOCATE COMP "A15" SITE "C12";
IOBUF PORT "A15" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=SLOW PULLMODE=NONE;

// Clock
// ------------------------------------------------------------
LOCATE COMP "CLK_25MHz" SITE "G3";
IOBUF PORT "CLK_25MHz" IO_TYPE=LVCMOS33 PULLMODE=NONE;
LOCATE COMP "PHI0" SITE "A11";
IOBUF PORT "PHI0" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=SLOW PULLMODE=NONE;
LOCATE COMP "PHI1" SITE "A10";
IOBUF PORT "PHI1" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=SLOW PULLMODE=NONE;

// Apple II Data
// ------------------------------------------------------------
LOCATE COMP "D0" SITE "A15";
IOBUF PORT "D0" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=SLOW PULLMODE=NONE;
LOCATE COMP "D1" SITE "B15";
IOBUF PORT "D1" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=SLOW PULLMODE=NONE;
LOCATE COMP "D2" SITE "A14";
IOBUF PORT "D2" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=SLOW PULLMODE=NONE;
LOCATE COMP "D3" SITE "C14";
IOBUF PORT "D3" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=SLOW PULLMODE=NONE;
LOCATE COMP "D4" SITE "A13";
IOBUF PORT "D4" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=SLOW PULLMODE=NONE;
LOCATE COMP "D5" SITE "B13";
IOBUF PORT "D5" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=SLOW PULLMODE=NONE;
LOCATE COMP "D6" SITE "A12";
IOBUF PORT "D6" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=SLOW PULLMODE=NONE;
LOCATE COMP "D7" SITE "B12";
IOBUF PORT "D7" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=SLOW PULLMODE=NONE;

// Apple II I/O
// ------------------------------------------------------------
LOCATE COMP "nI_O_SELECT" SITE "A19";
IOBUF PORT "nI_O_SELECT" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=SLOW PULLMODE=NONE;
LOCATE COMP "nI_O_STROBE" SITE "C11";
IOBUF PORT "nI_O_STROBE" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=SLOW PULLMODE=NONE;

// =============================================================================
// GPIO Signals
// =============================================================================

// GPIO Breakout
// ------------------------------------------------------------
LOCATE COMP "GPIO1" SITE "L1";
IOBUF PORT "GPIO1" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=SLOW PULLMODE=NONE;
LOCATE COMP "GPIO2" SITE "K1";
IOBUF PORT "GPIO2" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=SLOW PULLMODE=NONE;
LOCATE COMP "GPIO3" SITE "J1";
IOBUF PORT "GPIO3" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=SLOW PULLMODE=NONE;
LOCATE COMP "GPIO4" SITE "H1";
IOBUF PORT "GPIO4" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=SLOW PULLMODE=NONE;
LOCATE COMP "GPIO5" SITE "F2";
IOBUF PORT "GPIO5" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=SLOW PULLMODE=NONE;
LOCATE COMP "GPIO6" SITE "E2";
IOBUF PORT "GPIO6" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=SLOW PULLMODE=NONE;
LOCATE COMP "GPIO7" SITE "E1";
IOBUF PORT "GPIO7" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=SLOW PULLMODE=NONE;
LOCATE COMP "GPIO8" SITE "D1";
IOBUF PORT "GPIO8" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=SLOW PULLMODE=NONE;
LOCATE COMP "GPIO9" SITE "C1";
IOBUF PORT "GPIO9" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=SLOW PULLMODE=NONE;
LOCATE COMP "GPIO10" SITE "A4";
IOBUF PORT "GPIO10" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=SLOW PULLMODE=NONE;
LOCATE COMP "GPIO11" SITE "B5";
IOBUF PORT "GPIO11" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=SLOW PULLMODE=NONE;
LOCATE COMP "GPIO12" SITE "A5";
IOBUF PORT "GPIO12" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=SLOW PULLMODE=NONE;

// =============================================================================
// Default Settings for Unused Pins
// =============================================================================
// Pull unused pins to GND to prevent floating inputs
// IOBUF ALLPORTS PULLMODE=DOWN;
